apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: headlamp
      version: 0.25.0
      sourceRef:
        kind: HelmRepository
        name: headlamp
        namespace: flux-system
  values:
    ingress:
      enabled: true
      hosts:
        - host: headlamp.keatoncable.com
          paths:
            - path: /
              type: Prefix