---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app headlamp
  namespace: flux-system
spec:
  targetNamespace: headlamp
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  retryInterval: 1m
  timeout: 5m
  path: ./kubernetes/apps/headlamp/headlamp/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false