---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  interval: 1hr
  chartRef:
    kind: OCIRepository
    name: headlamp
  values:
    service:
      type: ClusterIP